<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="contact-form">
  <div class="form-group">
    <label for="firstName">Prénom:</label>
    <input id="firstName" type="text" formControlName="firstName" />
    <div class="error-message" *ngIf="profileForm.get('firstName')?.invalid && profileForm.get('firstName')?.touched">
      Le prénom est requis.
    </div>
  </div>

  <div class="form-group">
    <label for="lastName">Nom:</label>
    <input id="lastName" type="text" formControlName="lastName" />
    <div class="error-message" *ngIf="profileForm.get('lastName')?.invalid && profileForm.get('lastName')?.touched">
      Le nom est requis.
    </div>
  </div>

  <div class="form-group">
    <label for="age">Âge:</label>
    <input id="age" type="text" formControlName="age" />
  </div>

  <div class="form-group" *ngIf="isEmailVisible">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" />
    <div class="error-message" *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched">
      L'email est requis et doit contenir un arobase.
    </div>
  </div>

  <div class="form-group checkbox-group">
    <label for="hideEmail">
      <input id="hideEmail" type="checkbox" (change)="toggleEmailVisibility()" />
      Cacher Email
    </label>
  </div>

  <div class="form-group">
    <label for="commentary">Commentaire:</label>
    <textarea id="commentary" formControlName="commentary"></textarea>
    <div class="error-message" *ngIf="profileForm.get('commentary')?.invalid && profileForm.get('commentary')?.touched">
      Le commentaire est requis.
    </div>
  </div>

  <div class="form-group button-group">
    <button type="submit" [disabled]="!profileForm.valid">Envoyer</button>
  </div>
</form>
