<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td>
        <label for="firstName">Prénom:</label>
      </td>
      <td>
        <input id="firstName" type="text" formControlName="firstName"/>
      </td>
      <td>
        <div *ngIf="profileForm.get('firstName')?.invalid && profileForm.get('firstName')?.touched">
          Le prénom est requis.
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="lastName">Nom:</label>
      </td>
      <td>
        <input id="lastName" type="text" formControlName="lastName"/>
      </td>
      <td>
        <div *ngIf="profileForm.get('lastName')?.invalid && profileForm.get('lastName')?.touched">
          Le nom est requis.
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="age">Âge:</label>
      </td>
      <td>
        <input id="age" type="text" formControlName="age"/>
      </td>
      <td></td>
    </tr>
    <tr *ngIf="isEmailVisible">
      <td>
        <label for="email">Email:</label>
      </td>
      <td>
        <input id="email" type="email" formControlName="email"/>
      </td>
      <td>
        <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched">
          L'email est requis et doit contenir un arobase.
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="hideEmail">
          <input id="hideEmail" type="checkbox" (change)="toggleEmailVisibility()"/>
          Cacher Email
        </label>
      </td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td>
        <label for="commentary">Commentaire:</label>
      </td>
      <td>
        <textarea id="commentary" formControlName="commentary"></textarea>
      </td>
      <td>
        <div *ngIf="profileForm.get('commentary')?.invalid && profileForm.get('commentary')?.touched">
          Le commentaire est requis.
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: center;">
        <button type="submit" [disabled]="!profileForm.valid">Envoyer</button>
      </td>
    </tr>
  </table>
</form>
